body {
    font-family: 'Lato', sans-serif;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: #155E30;
    background-color: #371d10;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  }

  .btn{
    width: 6cm;
    margin-top: 0.4cm;
  }
  